<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896241300467-dpm96oks99sf0oh3ljr8vam3ffb0nteq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896241300467-dpm96oks99sf0oh3ljr8vam3ffb0nteq</string>
	<key>API_KEY</key>
	<string>AIzaSyAUhRFFFo_R5d3ShT_obNxDh-8SxNYJVgk</string>
	<key>GCM_SENDER_ID</key>
	<string>896241300467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notes</string>
	<key>PROJECT_ID</key>
	<string>riyads-first-note-app</string>
	<key>STORAGE_BUCKET</key>
	<string>riyads-first-note-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896241300467:ios:44af79430924e341009886</string>
</dict>
</plist>